body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header {
    background: white !important;
    color: #004c99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    width: 200px;
    height: 200px;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: #004c99;
    font-weight: 700;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin: 1rem 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.search-container input {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container button {
    padding: 0.5rem;
    border: 1px solid #004c99;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 4px;
}

.search-container button img {
    width: 25px;
    height: 25px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.category-button {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0.5rem;
    background: white;
    color: #004c99;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #004c99;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
    text-align: center;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-button:hover {
    background: #004c99;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
